package/man/old/
package/src/old/
package/tests/old/
userguide/SRR027957.bam
userguide/SRR027957.h5
userguide/SRR027957_trimmed.h5
userguide/SRR027958.bam
userguide/SRR027958.h5
userguide/SRR027958_trimmed.h5
userguide/diffHicUG.aux
userguide/diffHicUG.out
userguide/diffHicUG.bbl
userguide/diffHicUG.blg
userguide/diffHicUG.log
userguide/diffHicUG.pdf
userguide/diffHicUG.tex
userguide/diffHicUG.toc
userguide/example.h5
userguide/linker.sh
userguide/merged.h5
userguide/merged_erg.h5
userguide/merged_gfp.h5
userguide/merged_flox_1.h5
userguide/merged_flox_2.h5
userguide/merged_ko_1.h5
userguide/merged_ko_2.h5
userguide/mm10-hindIII.rds
userguide/plots-ug/
userguide/results.2.tsv
userguide/results.3.tsv
userguide/old.tex
userguide/clustered.tsv
userguide/results.tsv
