#  Calling the dynamic library.
useDynLib(diffHic, .registration=TRUE, .fixes="cxx_")

#  All functions exported, sorted by approximate function:
export(cutGenome, 
    preparePairs, mergePairs, savePairs, countPairs, getPairData,
    squareCounts, connectCounts, marginCounts, totalCounts, 
    countNeighbors, #filterCounts, 
    correctedContact, normalizeCNV, matchMargins,
    getDistance, getArea,
    boxPairs, clusterPairs,
    plotPlaid)

# Exporting the DIList class.
exportClasses(
    DIList
)

exportMethods(
    anchors, targets, counts, regions, totals, "[", show,
    normalize, asDGEList
)

# Requires several imports.
import(Rsamtools,GenomicRanges,Biostrings,BSgenome,edgeR,rhdf5,locfit,methods,csaw)



